{% extends "base.html" %}

{% block title %}Contacto{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
    <link rel="stylesheet" href="/public/css/mapa.css">
    <link rel="stylesheet" href="/public/css/contacto.css">
    {% endblock %}

{% block main %}
<!--<script>
function iniciarMap(){
    var coord = {lat:-34.5474309 ,lng: -59.1338267};
    var map = new google.maps.Map(document.getElementById('map'),{
      zoom: 12,
      center: coord
    });
    var marker = new google.maps.Marker({
      position: coord,
      map: map
    });
}</script>-->
<div class="page-tittle">
        <div class="page-tittle-container">
            <div class="page-tittle-text">
                <h1>CONTACTO</h1>
            </div>
            
            <div class="page-tittle-route">
                <ul class="ul-route">
                    <li><a href="/">HOME</a></li>
                    <li>/ CONTACTO</li>
                </ul>
            </div>
        </div>    
    </div>
      
         <div class="coordenadas">
           <div id="titulo"> DONDE <br>
        <u><strong>ESTAMOS</strong></u></div>
 <div id="texto"> <p>Aca va toda la descripcion</p> <br>
    <p> <strong>Coordenadas de GPS: </strong> 34°32'50.2"S 59°07'53.2"W</p>   </div>

</div>
 <img src="/app/views/imagenes/galeria/2.jpg/" class="img" >
<div id="mapa">
    <script src="script.js"></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHE2Qt1909I8FsshBDrM299a1QBAcE50A&callback=iniciarMap"></script>-->
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>-->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.242046667727!2d-59.13382668505425!3d-34.547426462028284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc7e74342bb2ab%3A0x5f4c87db0cb99848!2sLa%20Renata!5e0!3m2!1ses-419!2sar!4v1612897677717!5m2!1ses-419!2sar" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
{% endblock %}

    {% block footer %}
    {{ include('partials/footer.html')}}
{% endblock %}
